page-comments {

    .comment-list {

        ion-item {

            &.item-block {
                align-items: start;
            }
            
            &.item-md {

                ion-avatar[item-start] {
                    margin-top: 16px;
                }
            }
        }
    }

    .write-comment-input-container {

        &.item-md {
            padding-left: 0;

            .item-inner {
                padding-right: 0;
            }
        }
    }
}
